{% extends 'base.html' %}

{% block body %}
<title>PERFIL</title>
<hr>
<div class="container mt-5 d-flex justify-content-center">

    <div class="card p-2 w-100">

        <div class="d-flex align-items-center">

            <div class="image">
        <img src="{{ foto_perfil }}" class="rounded border-1" width="350" >
        </div>

        <div class="ml-3 w-100 m-2">            
            <h4 class="mb-0 mt-0">{{ current_user.username }}</h4>
            <span>{{ current_user.email }}</span>

            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
            <div class="container align-items-center d-flex flex-column">
                <span class="articles">Posts</span>
                <span class="number1">0</span>   
            </div>  
            </div>

            <div class="button mt-2 d-flex flex-row align-items-center">
                <a href="{{ url_for('editar_perfil') }}">
                    <button class="btn btn-sm btn-outline-primary w-100">Editar Perfil</button>
                </a>      
            </div>

        </div>    
        </div>   
    </div>   
</div>    
<hr>    
{% block form_editar_perfil %}

{% endblock %}
{% endblock %}