{% extends 'base.html' %}

{% block body %}
    <title>
        LOGIN
    </title>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="color: black; font-size: xx-large;">
                    LOGIN
                </h1>
            </div>
            <div class="col">
                <h1 style="color: blue; font-size: xx-large;">
                    CRIAR CONTA
                </h1>
            </div>
        </div>        
    </div>        
{% endblock %}