<nav class="navbar sticky-top" style="background-image: url('https://img.freepik.com/free-vector/square-background_23-2148048826.jpg?t=st=1736098786~exp=1736102386~hmac=2da265739bf1ff8437e59906aeabb2aff8f68b10d839cedc6caa550d261f6897&w=740'); background-position: 100% 38%;">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://flask-palletsprojects-com.translate.goog/en/stable/?_x_tr_sl=en&_x_tr_tl=pt&_x_tr_hl=pt-PT&_x_tr_pto=sc" target="_blank" style="font-size: xx-large">
            <img src="https://flask.palletsprojects.com/en/stable/_images/flask-horizontal.png" alt="Logo" width="110" height="45" class="d-inline-block align-text-top">
        </a>
        <ul class="navbar-brand d-flex me-auto mb-0 mb-lg-0">
            <li class="nav-item" type="button">
                <a class="navbar-brand" style="color: rgb(0, 0, 0); font-size: x-large; font-weight: 600;" href="{{ url_for('home') }}" >Home</a>
            </li>
            <li class="nav-item" type="button">
                <a class="navbar-brand" style="color: rgb(0, 0, 0); font-size: x-large; font-weight: 600;" href="{{ url_for('usuarios') }}">Usuários</a>
            </li>
            <li class="nav-item" type="button">
                <a class="navbar-brand" style="color: rgb(0, 0, 0); font-size: x-large; font-weight: 600;" href="{{ url_for('contato') }}">Contato</a>
            </li>
        </ul>    
        <ul class="d-flex nav">
            <li>
                <a class="container-fluid justify-content-start" href="{{ url_for('login') }}">
                    <button class="btn btn-sm btn-outline-secondary" type="button" style="color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;">Login</button>
                </a>
            </li>
            <li>
                <a class="container-fluid justify-content-start" href="{{ url_for('login') }}">
                    <button class="btn btn-sm btn-outline-secondary" type="button" style="color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;">Criar Conta</button>
                </a>
            </li>
            <li>
                <a class="navbar-brand" href="https://getbootstrap.com/" target="_blank" style="color: rgb(217, 0, 255); font-size: x-large; font-weight: 600;">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="50" height="35" class="d-inline-block align-text-top">
                    Bootstrap
                </a>
            </li>
            <li>
                <a class="navbar-brand" href="https://github.com/Deivid-Sena-DSC" target="_blank" style="color: rgb(0, 0, 0); font-size: x-large; font-weight: 600;">
                    <img src="https://cdn-icons-png.flaticon.com/128/2111/2111432.png" alt="Logo" width="50" height="35" class="d-inline-block align-text-top">
                    GitHub
                </a>
            </li>
        </ul>
    </div>
</nav>
<hr>